@{
    ViewBag.Title = "About";
    ViewBag.SiteName = "Ahri";
}
<div class="text-center">
    <hgroup>
        <h2>@ViewBag.Title @ViewBag.SiteName!</h2>
        <h3>@ViewBag.Message</h3>
    </hgroup>

    <div class="container">
            <p class=" text-center">
                We provide top-quality workout clothing. From top to bottom you can be working out is breathable clothing. Forget Nike, Adidas, and Under Amour! @ViewBag.SiteName is <strong>ON TOP</strong>!
                Check out our products, create an account, or subscribe to our newsletter! Feel free to contact us through email, thanks for visiting <strong>@ViewBag.SiteName</strong>!
            </p>
    </div>

</div>